*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}
.navbar{
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
  .logo{

    h1{
      font-size: 23px;
    }
  }
}

.three_dot{
  display: flex;
  margin-top: 8px;
  .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    margin-right: 4px;
  }
}
.list_items{

  ul{
    display: flex;
    list-style: none;
    gap: 27px;
    li{
      font-weight: 700;
      cursor: pointer;
      position: relative;

        }
        li:after{
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: black;
          position: absolute;

          top:17px;
          right: 50%;
          opacity: 0;
          transition: 250ms opacity ease-in-out;
          li:after:hover{
            opacity: 1;

      }

    }
  }
}
.cart_zoom{
  display: flex;
  gap: 27px;
  cursor: pointer;
  transform: translateY(13px);
}

aside{
  //position: fixed;
  margin-right: 208px;
  h1{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 62px;

  }
}
.selection{
  display: flex;
  .number{
    margin-left: 36px;
  }
  p{
    margin:  25px 0 25px 0;
    color: grey;

  }
  .word{

    p{
      //color: grey;
      cursor: pointer;
      &:hover{
        color: black;
      }
    }
  }
}
.flex_wrap{
  display: flex;
}
main{
  max-width: 835px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;

  .item{

    //border: 2px solid grey;
    width: 245px;

    &_name{
      margin: 23px 0 23px 0;
      color: grey;
    }
    &_mark{
      margin-bottom: 23px;
    }
    .price{
      font-weight: 600;
    }
  }
  .image_wrap{
    width: 245px;
    height: 245px;

    img{
      width: 100%;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
    }
  }
}

footer{
  margin-top: 100px;
  background-color: black;
  color: white;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}
@media(max-width: 560px){
  aside{
    display: none;
  }
  .container{
    padding: 0 1rem 0 1rem;
  }
  main{
    justify-content: center;
  }
}
.con{
  position: fixed;
}
